#sellAll {
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 60px;
    width: fit-content;
    display: block;
    margin: 5vh auto;
    font-size: 0.8rem;
    font-weight: bold;
}
