html {
    background-image: url(./assets/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#App {
    background-color: white;
    width: 90vw;
    height: 80vh;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 15% 85%;
}
