html {
    background-image: url(./assets/img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#App {
    background-color: white;
    width: 90vw;
    height: 80vh;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 15% 85%;
}

h1 {
    padding-left: 5vw;
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: Arial, Helvetica, sans-serif;
    color: darkred;
}

#dashboard {
    padding: 5vh 5vw;
    grid-column: 1/2;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 50% 50%;

    #counter p {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: darkred;
    }

    #buttons {
        display: flex;
        flex-direction: column;

        button {
            width: 100%;
            height: 30px;
            background-color: peachpuff;
            border: none;
            padding: 2% 5%;
            border-radius: 50px;
            margin-bottom: 2vh;
            display: flex;
            justify-content: center;

            img {
                height: 100%;
                object-fit: contain;
            }
        }

        button:disabled {
            background-color: lightgray;

            img {
                filter: grayscale(1);
            }
        }

        #one {
            img {
                width: 100%;
            }
        }

        #five {
            img {
                width: 15%;
            }
        }
        #ten {
            img {
                width: 9%;
            }
        }
    }

    #storage {
        #maxCapacity {
            background-color: rgb(240, 240, 240);
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
            width: 70%;
            margin: auto;
            position: relative;
        }

        #utilization {
            background-image: url(./assets/img/capacity.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            align-self: flex-end;
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        button {
            background-color: darkred;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 60px;
            width: fit-content;
            display: block;
            margin: 5vh auto;
            font-size: 0.8rem;
            font-weight: bold;
        }
    }

    #pony {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f1ecd1;
        border: none;
        height: 25%;
        align-self: flex-end;
        border-radius: 20px;
        grid-column: 1/3;
        grid-row: 2/3;

        img {
            height: 100%;
            width: 15%;
            object-fit: contain;
        }

        p {
            background-color: #f1ecd1;
        }
    }
}

img {
    height: 80vh;
    width: 100%;
    object-fit: cover;
    grid-column: 2/3;
    grid-row: 1/4;
    justify-self: flex-end;
    border-radius: 0 20px 20px 0;
}
